body {
    margin: 100px;
    background: rgb(59,63,157);
    background: linear-gradient(331deg, rgba(59,63,157,1) 40%, rgba(47,46,61,0.9921218487394958) 77%);
    padding: 40px;
}

h1{
    margin: 30px;
    background: rgb(63,251,243);
    background: radial-gradient(circle, rgba(63,251,243,0.9753151260504201) 12%, rgba(210,70,252,1) 100%);
    border-radius: 50%;
    padding: 12px 15px;
    text-align: center;
}

#error {
    color: red;
    font-size: 30px;
    text-align: center;
}

.form-container {
    background: rgb(63,83,251);
    background: radial-gradient(circle, rgba(63,83,251,1) 27%, rgba(70,252,192,1) 85%);
    padding: 50px;
    margin: auto;
    width: 50%;
    border-radius: 5px;
}

input[type=email] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    position: inline-block;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    position: inline-block;
    box-sizing: border-box;
}

button {
    width: 50%;
    margin: 8px 0;
    padding: 15px 20px;
    background: rgb(56,166,204);
    background: radial-gradient(circle, rgba(56,166,204,0.756827731092437) 27%, rgba(49,28,117,1) 79%);
    color: white;
}